/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

/* Custom CSS */

:root {
  --accent-color: #4b0082;
  --sidebar-bg-color: #f5f4f4;
  --menu-highlight-color: #d7d7d7;
  --menu-option-highlight-color: #aaaaaa;
  --primary: white;
  --secondary: black;
}

body {
  font-size: 62.5%;
  display: flex;
  height: 100%;
  font-family: monospace, serif;
  ---sidebar-width: 300px;
}

.sidebar {
  position: fixed;
  width: var(---sidebar-width);
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

header {
  padding: 4px 2px;
}

header h1 {
  text-align: center;
  color: var(--accent-color);
  font-size: 2.4rem;
  font-family: "EB Garamond", monospace;
}

.create-todo {
  margin: 16px 0;
}

.create-todo:hover button,
.actions button:hover,
.top-row button:hover {
  cursor: pointer;
}

.create-todo button {
  display: flex;
  justify-content: center;
  gap: 4px;
  border-radius: 10px;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary);
  width: 100%;
}

.create-todo p {
  font-size: 1rem;
}

nav {
  flex: 1;
}

nav ul {
  font-size: 1rem;
  padding: 0;
  margin-bottom: 16px;
}

nav ul li {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

nav li:hover {
  cursor: pointer;
  background-color: var(--menu-highlight-color);
}

.views li {
  gap: 8px;
}

/* .sidebar ul li:hover .menu-icon{
  color: var(--primary) !important;

} */

.projects-list li {
  position: relative; /* Add this so dropdown is positioned relative to the list item */
  justify-content: space-between;
  align-items: center;
}

.to-left {
  display: flex;
  gap: 8px;
}

.drop-btn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.drop-btn:hover {
  background-color: var(--menu-option-highlight-color);
}

.active {
  background-color: var(--accent-color);
  color: var(--primary);
}

.active:hover {
  background-color: var(--accent-color);
  color: var(--primary);
}

.active .drop-btn {
  color: var(--primary);
}

/* Dropdown styling */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--sidebar-bg-color);
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 4px;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--secondary);
  text-decoration: none;
  display: block;
}

/* Style Util Buttons */
.util {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 8px;
}

/* Change color of utils on hover */
.util:hover {
  background-color: var(--menu-highlight-color);
  border-radius: 10px;
}

.util span {
  color: var(--accent-color);
}

nav .add-project {
  display: flex;
  justify-content: center;
}

nav .add-project-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--secondary);
  display: flex;
  align-items: center;
  border: 3px solid transparent;
  height: 34px;
  width: auto;
  border-radius: 50%;
}

nav .add-project-btn:hover {
  cursor: pointer;
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
  background-color: transparent;
}

footer p {
  text-align: center;
  font-size: 1rem;
  font-family: monospace;
  color: var(--accent-color);
  padding: 8px 0;
}

/* Main Todo Screen Styles */

.main-content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.actions button {
  display: flex;
  gap: 4px;
  padding: 4px 8px;
}

.sort,
.filter {
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid var(--menu-highlight-color);
  border-radius: 5px;
}

.cards-list {
  width: 100%;
  max-width: 600px;
}

.card {
  width: 100%;
  border-bottom: 1px solid var(--menu-highlight-color);
  padding: 8px 0;
  display: grid;
  grid-template-columns: 16px 1fr;
  column-gap: 16px;
  grid-template-rows: auto auto auto;
}

.card.removing {
  opacity: 0;
  transform: translateX(20px);
  transition: 500ms all ease;
}

.checkbox-container {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  align-items: start;
}

.checkbox-container input[type="checkbox"] {
  position: relative;
  top: 8px;
  appearance: none;
  margin: 0;
  font: inherit;
  color: var(--accent-color);
  width: 2rem; /* Fixed width */
  aspect-ratio: 1 / 1; /* Fixed height */
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  transform: translateY(-1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container input[type="checkbox"]::before {
  content: "";
  width: 0.8rem; /* Fixed width of inner circle */
  aspect-ratio: 1 /1; /* Fixed height of inner circle */
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.checkbox-container input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.top-row {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-bottom: 8px;
  display: flex;
  justify-content: start;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
}

.top-row button {
  background: none;
  border: none;
  align-self: flex-start;
}

.copy-todo-btn {
  margin-left: auto;
  margin-right: 4px;
}

.description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* text-wrap: nowrap; */
  margin-bottom: 8px;
  color: var(--menu-option-highlight-color);
  font-size: 0.8rem;
}

.bottom-bar {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.priority {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  color: var(--accent-color);
}

.priority span,
.date span {
  font-size: 1rem;
  /* change the size of icons */
}

/* Styles for Dialog Box */

#create-todo-dialog,
#edit-todo-dialog {
  background-color: var(--primary);
  margin: auto;
  border: none;
  border-radius: 16px;
  font-size: 1rem;
  padding: 16px;
  width: calc(20vw + 100px);
}

#create-todo-dialog .content,
#edit-todo-dialog .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

::backdrop {
  background-image: linear-gradient(45deg, var(--primary), var(--secondary));
  opacity: 0.45;
}

.form-input {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
}

form label,
form input,
form textarea {
  display: block;
  width: 100%;
}

form input,
form textarea,
form select {
  padding: 4px;
}

form textarea {
  resize: none;
  height: calc(3lh + 12px);
}

.form-input:has(:required) label::after {
  content: "*";
  color: red;
  display: inline;
  margin-left: 3px;
  vertical-align: text-top;
}

.form-submit {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.form-submit input {
  border-radius: 10px;
  border: none;
  background-color: var(--menu-highlight-color);
}

.form-submit input:hover {
  cursor: pointer;
}

input[type="submit"] {
  background-color: var(--accent-color);
  color: var(--primary);
}
